<html>
    <head>
        <title>Todo App</title>

        <style>
            .hidden {
                display: none;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 200px;
            }

            li {
                clear: both;
            }

            li button {
                -webkit-appearance: none;
                border: none;
                outline: none;
                color: red;
                float: right;
                cursor: pointer;
                font-size: 20px;
            }
        </style>
    </head>

    <body>
        <form id='form'>
            <!-- this name=<> appears in the url:
            e.g., http://localhost:5000/?description=TaskXYZ -->
            <input type='text' id='description' name='description' />
            <input type='submit' value='Create!' />
        </form>

        <div id='error' class='hidden'>Something went wrong!</div>

        <ul id="todos">
            {% for task in data %}
            <!-- https://jinja.palletsprojects.com/en/2.10.x/templates/#if -->
            <li>
                <input class="task-done"
                type="checkbox" {% if task.completed %} checked {% endif %}
                data-id= {{ task.id }}>
                {{ task.description }}
                <!-- Add X near the task descriptioni for deletion puprose 
                &cross; => X -->
                <button>&cross;</button>
            </li>
            {% endfor %}
        </ul>

        <script>
            const checkBoxes = document.querySelectorAll('.task-done')
            for (let i = 0; i < checkBoxes.length; i++) {
                const checkBox = checkBoxes[i]

                checkBox.onchange = function(e) {
                    console.log(e);

                    const todoId = e.target.dataset['id'];
                    console.log('/todos/' + todoId + '/set-done')
                    fetch('/todos/' + todoId + '/set-done', {
                        method: 'POST',
                        body: JSON.stringify({
                            'completed': e.target.checked
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(function() {
                        // Hide the error message if successful.
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function() {
                        // Show the message if error happens. 
                        document.getElementById('error').className = ''
                    })
                }
            }
            
            document.getElementById('form').onsubmit = function(e) {
                e.preventDefault();
                // Send the request asynchronously using fetch.
                fetch('/todos/create', {
                    method: 'POST',

                    body: JSON.stringify(
                        {'description': document.getElementById('description').value}
                    ),

                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                // parse the response from str to json format
                .then(response => response.json()) 
                .then(jsonResponse => {
                    // jsonResponse is now a json.
                    console.log(jsonResponse);
                    
                    // create an <LI> tag; has to be capital  case.
                    const liEl = document.createElement('LI'); 
                    liEl.innerHTML = jsonResponse['description']; 
                    document.getElementById('todos').appendChild(liEl);
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function() {
                    document.getElementById('error').className = '';
                })
            }
        </script>
    </body>
</html>
