<!DOCTYPE html>
<html>
    <head>
        <title>Todo App</title>
        <!-- <link rel="stylesheet" href="../style/styles.css"> -->

        <style>
            .hidden {
                display: none;
            }

            ul {
                list-style: none;
                padding-left: 0;
                /* margin: 0; */
                width: 200px;
            }

            li {
                clear: both;
            }

            li button {
                -webkit-appearance: none;
                border: none;
                outline: none;
                color: red;
                float: right;
                cursor: pointer;
                font-size: 16px;
            }

            .lists-wrapper, .todos-wrapper {
                display: inline-block;
                vertical-align: top;
            }
        </style>
    </head>

    <body>
        <div class="lists-wrapper">
            <h4>Todo Lists</h4>
            <form id="form-list">
                <input type="text" id="input-todolist">
                <button type="submit">Create List</button>
            </form>
            <ul id="lists">
                {% for list in lists %}
                <li>
                    <input type="checkbox" data-id="{{ list.id }}" class="list-done">
                    <a href="/lists/{{ list.id }}">{{ list.name }}</a>
                    <button class="btn-list-del" data-id="{{ list.id }}">&cross;</button>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="todos-wrapper">
            <h4>Todo Items ({{ active_list.name }})</h4>
            <form id='form'>
                <input id="list_id" type="hidden" value="{{ active_list.id }}">
                <!-- this name=<> appears in the url:
                e.g., http://localhost:5000/?description=TaskXYZ -->
                <input type='text' id='description' name='description' />
                <input type='submit' value='Create Task' />
            </form>
    
            <div id='error' class='hidden'>Something went wrong!</div>
    
            <ul id="todos">
                <!-- <h4>{{ active_list.name }}</h4> -->
                {% for task in tasks %}
                <!-- https://jinja.palletsprojects.com/en/2.10.x/templates/#if -->
                <li>
                    <input class="task-done"
                    type="checkbox" {% if task.completed %} checked {% endif %}
                    data-id= {{ task.id }}>
                    {{ task.description }}
                    <!-- Add X near the task descriptioni for deletion puprose 
                    &cross; => X -->
                    <button class="btn-del" data-id= {{ task.id }}>&cross;</button>
                </li>
                {% endfor %}
            </ul>
        </div>

        <script>
            const listCheckboxes = document.querySelectorAll('.list-done');
            for (let i = 0; i < listCheckboxes.length; i++) {
                const checkbox = listCheckboxes[i];

                checkbox.onchange = function(e) {
                    // If the list is done, make sure all sub-tasks are done.
                    if (e.target.checked) {
                        const listId = e.target.dataset['id'];

                        fetch('/lists/' + listId + '/set-done', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(function() {
                            const todoCheckboxes = document.querySelectorAll('.task-done')
                            for (let i = 0; i < todoCheckboxes.length; i++) {
                                todoCheckboxes[i].checked = true;
                            }
                            // In case of sucess, hide the error message.
                            document.getElementById('error').className = 'hidden';
                        })
                        .catch(function() {
                            // Show the error message.
                            document.getElementById('error').className = '';
                        })
                    }
                }
            }


            const btns = document.querySelectorAll('.btn-del')
            for (let i = 0; i < btns.length; i++) {
                const btn = btns[i]

                btn.onclick = function(e) {
                    console.log(e);

                    const todoId = e.target.dataset['id'];
                    fetch('/todos/' + todoId + '/delete-task', {
                        method: 'DELETE'
                    })
                    .then(function() {
                        const parentEl = e.target.parentElement;
                        parentEl.remove();
                    })

                }
            }

            const checkBoxes = document.querySelectorAll('.task-done')
            for (let i = 0; i < checkBoxes.length; i++) {
                const checkBox = checkBoxes[i]

                checkBox.onchange = function(e) {
                    console.log(e);

                    const todoId = e.target.dataset['id'];
                    fetch('/todos/' + todoId + '/set-done', {
                        method: 'POST',
                        body: JSON.stringify({
                            'completed': e.target.checked
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(function() {
                        // Hide the error message if successful.
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function() {
                        // Show the message if error happens. 
                        document.getElementById('error').className = ''
                    })
                }
            }
            
            document.getElementById('form').onsubmit = function(e) {
                e.preventDefault();
                // Send the request asynchronously using fetch.
                fetch('/todos/create', {
                    method: 'POST',

                    body: JSON.stringify({
                        'list_id': document.getElementById('list_id').value,
                        'description': document.getElementById('description').value
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                // parse the response from str to json format
                .then(response => response.json()) 
                .then(jsonResponse => {
                    // jsonResponse is now a json.
                    console.log(jsonResponse);
                    
                    // create an <LI> tag; has to be capital case.
                    const liEl = document.createElement('li');
                    // 1. Create the checkbox for liEl.
                    const checkbox = document.createElement('input');
                    checkbox.className = 'task-done';
                    checkbox.type = 'checkbox';
                    checkbox.setAttribute('data-id', jsonResponse['id']);
                    liEl.appendChild(checkbox);
                    // 2. Create text for liEl.
                    const text = document.createTextNode(' ' + jsonResponse['description']);
                    liEl.appendChild(text);
                    // 3. Create delete button (X) for liEl.
                    const deleteBtn = document.createElement('button');
                    deleteBtn.className = 'btn-del';
                    deleteBtn.setAttribute('data-id', jsonResponse['id']);
                    deleteBtn.innerHTML = '&cross;';
                    liEl.appendChild(deleteBtn);
                    
                    document.getElementById('todos').appendChild(liEl);
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function() {
                    document.getElementById('error').className = '';
                })
            }

            document.getElementById('form-list').onsubmit = function(e) {
                e.preventDefault();

                fetch('/lists/create', {
                    method: 'POST',
                    body: JSON.stringify({
                        'name': document.getElementById('input-todolist').value
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(jsonResponse => {
                    const liEl = document.createElement('LI');

                    liEl.innerHTML = jsonResponse['name'];
                    document.getElementById('lists').appendChild(liEl);
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function() {
                    document.getElementById('error').className = '';
                })
            }
        </script>
    </body>
</html>
