<html>
    <head>
        <title>Todo App</title>

        <style>
            .hidden {
                display: none;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
        </style>
    </head>

    <body>
        <form id='form'>
            <input type='text' id='description' name='description' />
            <input type='submit' value='Create!' />
        </form>

        <div id='error' class='hidden'>Something went wrong!</div>

        <ul id='todos'>
            {% for d in data %}
            <li><input class='task-done' type='checkbox' {% if d.completed %} checked {% endif %}>{{ d.description }}</li>
            {% endfor %}
        </ul>

        <script>
            const checkboxes = document.querySelectorAll('.task-done');
            for (let i = 0; i < checkboxes.length; i++) {
                const checkbox = checkboxes[i]
                checkbox.onchange = function(e) {
                    console.log('event', e)
                }
            }
            document.getElementById('form').onsubmit = function(e) {
                e.preventDefault();
                // Send the request asynchronously using fetch
                fetch('/todos/create', {
                    method: 'POST',

                    body: JSON.stringify({
                        'description': document.getElementById('description').value
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(jsonRequest => {
                    // Create the object.
                    console.log(jsonRequest);
                    // Append it to the list of todos.
                    const liEl = document.createElement('LI');
                    liEl.innerHTML = jsonRequest['description'];
                    console.log(jsonRequest['description'])
                    document.getElementById('todos').appendChild(liEl);
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function() {
                    document.getElementById('erorr').className = ''
                })
            }
        </script>
    </body>
</html>